<h1>KETSCI Dashboard</h1>
<p><%= Time.now.utc %></p>

<br>
<% ip_address = request.remote_ip %>
<% n=Network.find_by netid: "Na34dAasIY09muLqxd59A" %>
<% if n.Flag5 == session.id then %>
	<h2> Stats </h2>
	<% Network.where('netid =?', "Na34dAasIY09muLqxd59A").each do |n| %>
		<p> Lifetime Starts &emsp; <%= link_to n.Flag2 %> </p>
		<p> Lifetime Completes &emsp; <%= link_to n.Flag3 %> </p>
	<% end %>

	<br>

	<h2> Download </h2>
	<p><%= link_to("Generate This Months Completes Report", users_path(format: :csv), class: "btn btn-success",) %></p>
	<p><%= link_to("Generate Last Months Completes Report", controller: "users", action: "lmcsv", format: "csv", class: "btn btn-success",) %></p>
	<br>

	<h2> Last 7 Days Completes </h2>
	<p> &emsp;&emsp;&emsp;&emsp; UTC &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ID </p>
	<% @anniccaCompleter = User.unscoped.where('netid =? AND updated_at >= ?', "Na34dAasIY09muLqxd59A", (Time.now - 7.days)).order("updated_at").each do |c| %>
	<% if c.SurveysCompleted.flatten(2).length > 0 then %>
			<p>
		       <%= link_to c.SurveysCompleted.flatten(2).at(-7) %>
		       &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		       <%= c.clickid.to_s %>
		    </p>
	    <% else %>
	    <% end %>
	<% end %>

<% else %>
	<p> Session id is not valid. Please <a href= https://www.ketsci.com/networks/login> login</a>.</p>
<% end %>