<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>OOPS!</h1>
			</center>
		</header>
		
		<div id="content">
			<center>
				<p>As part of the market research industry, we observe a best practice in the industry to limit the number of surveys one can complete. You have exceeded this limit for the last 24hrs. Please try more surveys after some time.</p>
				</center>			
		</content>

		<div class="content">
			<center><br>
				<p>Enter your Email address to receive notifications for new surveys.</p>
			</center>
				<%= form_tag("/users/join_panel", method: "post") do %>
					<fieldset>
						<div class="myyrsinput">
							<%= text_field_tag 'emailid', nil, maxlength: 100 %>
							<%= label_tag(:emailid, '') %><br><br>
						</div>
					
						<div class="myinput">
							<center>				
								<%= submit_tag "Submit" %><br>
								<p>or</p>
								<%= submit_tag "No Thanks" %>
							</center>
						</div>
					</fieldset>
				<% end %>
		</content>
		
		<br>
		<br>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>