<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<%= image_tag image_path('cooltext1784832111.png') %>
			</center>
		</header>
		
		<div class="topcontent">
			<center>
				<h4>Welcome!</h4>
				<p>Qualify ---> Complete survey ---> Get reward</p>
			</center>
		</topcontent>
		
		<div class="content">
			<center>
				<h2>Select the month and year of your birth:</h2>
				<%= form_for (@user), url: {action: "eval_age"} do |f| %>
					<%= f.select :birth_month, 1 .. 12 %>
					<%= f.select :birth_year, (Time.zone.now.year-100)..(Time.zone.now.year) %>
					<%= f.submit "Next" %>
				<% end %>
			</center>
		</content>
				
		<footer class="footer">
			<center>
				Copyright © by Ketsci. All rights reserved.
			</center>
		</footer>

	</body>	

</html>