<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>WELCOME !</h1>
			</center>
		</header>
		
		<div class="topcontent">
			<center>
				<br>
				<br>
				<p><h4>QUALIFY  -->  COMPLETE A SURVEY  -->  GET REWARD</h4></p>
			</center>
		</topcontent>
		<br>
		<div class="content">
			<center>
				<h3>What is the date of your birth?</h3>
					<h4>MM-DD-YYYY</h4><br><br>
			
				<%= form_for (@user), url: {action: "eval_age"}, :html => { :class => "myform"} do |f| %>
					<%= f.select :birth_month, 1 .. 12 %>
					<%= f.select :birth_date, 1 .. 31 %>
					<%= f.select :birth_year, (Time.zone.now.year).downto(Time.zone.now.year-100).to_a %>
					
					<%= hidden_field_tag :clickid, params[:CID] %>
					<%= hidden_field_tag :netid, params[:NID] %>
					<%= hidden_field_tag :session_id, session.id %>
					<%= hidden_field_tag :ip_address, request.remote_ip %>
					
					
					<%= f.submit "Next" %>
				</center>
				<% end %>
			
		</content>
		<br>
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>

	</body>	

</html>