<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Google Glass</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>In how many years do you think we will see mass use of Google glass technology?</p>
			</center>
				<%= form_tag("p25action", method: "post") do %>
				<fieldset>
					<div class="mytags">
				
					<label>
					<%= radio_button_tag 'ans2', '1' %>
				  		3-5 yrs.
					</label><br>
					<label>
					<%= radio_button_tag 'ans2', '2' %>
				  		8-10 yrs.
					</label><br>
					<label>
					<%= radio_button_tag 'ans2', '3' %>
				  		11-20 yrs.
					</label><br>
					<label>						
					<%= radio_button_tag 'ans2', '4' %>
				  		Who knows!
					</label><br><br>
												
					</div>
				<div class="myinput">
					<center>
						<%= submit_tag "Next" %>
					</center>
				</div>
			</fieldset>
			<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>