<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Quick Question</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Please enter your name and address.</p>
			</center>
			<%= form_tag("Pii1Action", method: "post") do %>
				<fieldset>
					<div class="mytags">
						<center>
							<%= text_area_tag 'Pii1Resp', nil, maxlength: 1000 %>
							<%= label_tag(:PII, '') %><br><br>
						</center>
					</div>

					<div class="myinput">
						<center>
							<%= submit_tag "Next" %>
						</center>
					</div>
				</fieldset>
			<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>