<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Quick Question</h1>
			</center>
		</header>
		
		<div class="content">
			<center><h2>
				<% session_id = session.id %>
				<% print "session_id in Pii1.html is : ", session_id %>
				<% puts %>
	    		<%user = User.find_by session_id: session_id %>
	    		<% print "user is: ", user %>
	    		<% puts %>
	    		<% print "user SurveysAttempted is: ", user.SurveysAttempted %>
	    		<% puts %>
				<% Adhoc.where("SurveyNumber = ?", user.SurveysAttempted[-2]).each do |c| %>
			    	<p>
			       		<%= link_to c.Pii1.to_s  -%>
			    	</p>
		    	<% end %>
			</h2></center>
			<%= form_tag("Pii1Action", method: "post") do %>
				<fieldset>
					<div class="mytags"><center>
						<%= text_area_tag 'Pii1Resp', nil, maxlength: 2000 %>
						<%= label_tag(:PII, '') %><br><br>
					</center></div>

					<div class="myinput">
						<center>
							<%= submit_tag "Next" %>
						</center>
					</div>
				</fieldset>
			<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>