<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Gender</h1>
			</center>
		</header>
		
		<div class="content">
				<%= form_tag("gender", method: "post") do %>
				<fieldset>
				<div class="mytags">
					<%= radio_button_tag 'gender', '1' %>
					<%= label_tag(:gender, "Male") %><br>
					<%= radio_button_tag 'gender', '2' %>
					<%= label_tag(:gender, "Female") %><br><br>
				</div>
				<div class="myinput">
				<center>
					<%= submit_tag "Next" %>
				</center>
				</div>
				<% end %>
			</fieldset>
		
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>