<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Country</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>In which country do you live?</p>
			</center>
				<%= form_tag("country", method: "post") do %>
				<fieldset>
					<div class="mytags">
					<%= radio_button_tag 'country', '9' %>
					<%= label_tag(:country, "USA") %><br>
					<%= radio_button_tag 'country', '6' %>
					<%= label_tag(:country, "Canada") %><br>
					<%= radio_button_tag 'country', '7' %>
					<%= label_tag(:country, "India") %><br>
					<%= radio_button_tag 'country', '5' %>
					<%= label_tag(:country, "Australia") %><br>
					<%= radio_button_tag 'country', '0' %>
					<%= label_tag(:country, "None of the above") %><br><br>
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
				</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>