<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Country</h1>
			</center>
		</header>
		
		<div class="content">
			<fieldset>
				<p>Select country of your residence:</p>
				<%= form_tag("country", method: "post") do %>
					<%= check_box_tag 'country', 'USA' %>
					<%= label_tag(:country, "USA") %><br>
					<%= check_box_tag 'country', 'Canada' %>
					<%= label_tag(:country, "Canada") %><br>
					<%= check_box_tag 'country', 'India' %>
					<%= label_tag(:country, "India") %><br><br>
					<%= submit_tag "Next" %>
				<% end %>
			</fieldset>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('cooltext1780310221.png') %>
			</center>
		</footer>
	</body>	
</html>