<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Postal Code</h1>
			</center>
		</header>
		
		<div class="content">
			<fieldset>
				<p>Enter your CAPOST1 code:</p>
				<%= form_tag("zip_CA", method: "post") do %>
					<%= text_field_tag 'zip', nil, maxlength: 6 %>
					<%= label_tag(:CAPOSTA1, '') %><br><br>
					<%= submit_tag "Next" %>
				<% end %>
			</fieldset>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('cooltext1780310221.png') %>
			</center>
		</footer>
	</body>	
</html>