<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Postal Code</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Enter your PIN code:</p>
				</center>
				<%= form_tag("zip_IN", method: "post") do %>
				<fieldset>
				<div class="myzipinput">
					<%= text_field_tag 'zip', nil, maxlength: 6 %>
					<%= label_tag(:PIN, '') %><br><br>
				</div>
				<div class="myinput">
				<center>
					<%= submit_tag "Next" %>
				</center>
				</div>
				</fieldset>
				<% end %>
			</fieldset>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>