<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Ethnicity</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Please select which group you most identify yourself with:</p>
				</center>
				<%= form_tag("ethnicity_IN", method: "post") do %>
				<fieldset>
				<div class="myethnicityinput">
					<%= radio_button_tag 'ethnicity', 'Aboriginal' %>
					<%= label_tag(:ethnicity, "Aboriginal") %><br>
					<%= radio_button_tag 'ethnicity', 'North Indian' %>
					<%= label_tag(:ethnicity, "North Indian") %><br>
					<%= radio_button_tag 'ethnicity', 'South Indian' %>
					<%= label_tag(:ethnicity, "South Indian") %><br>
					<%= radio_button_tag 'ethnicity', 'Eastern Indian' %>
					<%= label_tag(:ethnicity, "Eastern Indian") %><br>
					<%= radio_button_tag 'ethnicity', 'Western Indian' %>
					<%= label_tag(:ethnicity, "Western Indian") %><br><br>
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
			</center>
			</div>
			</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>