<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Region</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Which group do you (most) identify yourself with?</p>
				</center>
				<%= form_tag("ethnicity_IN", method: "post") do %>
				<fieldset>
				<div class="myethnicityinput">
					<%= radio_button_tag 'ethnicity', 'North India' %>
					<%= label_tag(:ethnicity, "North India") %><br>
					<%= radio_button_tag 'ethnicity', 'South India' %>
					<%= label_tag(:ethnicity, "South India") %><br>
					<%= radio_button_tag 'ethnicity', 'Eastern India' %>
					<%= label_tag(:ethnicity, "Eastern India") %><br>
					<%= radio_button_tag 'ethnicity', 'Western India' %>
					<%= label_tag(:ethnicity, "Western India") %><br>
					<%= radio_button_tag 'ethnicity', 'Prefer not to answer' %>
					<%= label_tag(:ethnicity, "Prefer not to answer") %><br><br>
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
			</center>
			</div>
			</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>