<h1>Ethnicity_CA</h1>

<p>Please select which group you most identify yourself with.</p>
<%= form_tag("ethnicity_CA", method: "post") do %>
	<%= check_box_tag 'ethnicity', 'Aboriginal(North American Indian, Metis, Inuit, etc.)' %>
	<%= label_tag(:ethnicity, "Aboriginal(North American Indian, Metis, Inuit, etc.)") %><br>
	<%= check_box_tag 'ethnicity', 'African' %>
	<%= label_tag(:ethnicity, "African") %><br>
	<%= check_box_tag 'ethnicity', 'American(US)' %>
	<%= label_tag(:ethnicity, "American(US)") %><br>
	<%= check_box_tag 'ethnicity', 'Arabic / Middle Eastern' %>
	<%= label_tag(:ethnicity, "Arabic / Middle Eastern") %><br>
	<%= check_box_tag 'ethnicity', 'British' %>
	<%= label_tag(:ethnicity, "British") %><br>
	<%= check_box_tag 'ethnicity', 'Cambodian' %>
	<%= label_tag(:ethnicity, "Cambodian") %><br>	
	<%= submit_tag "Next" %>
<% end %>