<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Ethnicity</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Which group do you most identify yourself with?</p>
			</center>
				<%= form_tag("ethnicity_CA", method: "post") do %>
			<fieldset>
				<div class="mybiglistinput">				
					<%= radio_button_tag 'ethnicity', 'Aboriginal(North American Indian, Metis, Inuit, etc.)' %>
					<%= label_tag(:ethnicity, "Aboriginal(North American Indian, Metis, Inuit, etc.)") %><br>
					<%= radio_button_tag 'ethnicity', 'African' %>
					<%= label_tag(:ethnicity, "African") %><br>
					<%= radio_button_tag 'ethnicity', 'American(US)' %>
					<%= label_tag(:ethnicity, "American(US)") %><br>
					<%= radio_button_tag 'ethnicity', 'Arabic / Middle Eastern' %>
					<%= label_tag(:ethnicity, "Arabic / Middle Eastern") %><br>
					<%= radio_button_tag 'ethnicity', 'British' %>
					<%= label_tag(:ethnicity, "British") %><br>
					<%= radio_button_tag 'ethnicity', 'Cambodian' %>
					<%= label_tag(:ethnicity, "Cambodian") %><br>
					<%= radio_button_tag 'ethnicity', 'Canadian' %>
					<%= label_tag(:ethnicity, "Canadian") %><br>
					<%= radio_button_tag 'ethnicity', 'Caribbean (not including Jamaican)' %>
					<%= label_tag(:ethnicity, "Caribbean (not including Jamaican)") %><br>
					<%= radio_button_tag 'ethnicity', 'Chinese' %>
					<%= label_tag(:ethnicity, "Chinese") %><br>
					<%= radio_button_tag 'ethnicity', 'Dutsch (Netherlands)' %>
					<%= label_tag(:ethnicity, "Dutsch (Netherlands)") %><br>
					<%= radio_button_tag 'ethnicity', 'Prefer not to answer' %>
					<%= label_tag(:ethnicity, "Prefer not to answer") %><br><br>				
				</div>
				
				<div class="myinput">
					<center>
						<%= submit_tag "Next" %>
					</center>
				</div>
			</fieldset>
			<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>