<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Origin</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Are you of Hispanic, Latino or Spanish origin?</p>
				</center>
				<%= form_tag("ethnicity_US", method: "post") do %>
				<fieldset>
				<div class="mybiglistinput">
					<label>
					<%= radio_button_tag 'ethnicity', '1' %>
				  		No, not of Hispanic, Latino or Spanish origin
					</label><br>
					<label>
					<%= radio_button_tag 'ethnicity', '2' %>
				  		Yes, Mexican, Mexican American, or Chicano
					</label><br>
					<label>
					<%= radio_button_tag 'ethnicity', '3' %>
				  		Yes, Cuban
					</label><br>
					<label>						
					<%= radio_button_tag 'ethnicity', '4' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Argentina
					</label><br>
					<label>						
					<%= radio_button_tag 'ethnicity', '5' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Colombia
					</label><br>
					<label>
					<%= radio_button_tag 'ethnicity', '6' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Ecuador
					</label><br>
					<label>
					<%= radio_button_tag 'ethnicity', '7' %>
				  		Yes, another Hispanic, Latino or Spanish origin - El Salvador
					</label><br>
					<label>
					<%= radio_button_tag 'ethnicity', '8' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Guatemala
					</label><br>
					<label>
					<%= radio_button_tag 'ethnicity', '9' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Nicaragua
					</label><br>
					<label>						
					<%= radio_button_tag 'ethnicity', '10' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Panama
					</label><br>
					<label>						
					<%= radio_button_tag 'ethnicity', '11' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Peru
					</label><br>					
					<label>
					<%= radio_button_tag 'ethnicity', '12' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Spain
					</label><br>
					<label>
					<%= radio_button_tag 'ethnicity', '13' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Venezuela
					</label><br>
					<label>						
					<%= radio_button_tag 'ethnicity', '14' %>
				  		Yes, another Hispanic, Latino or Spanish origin - Other
					</label><br>
					<label>						
					<%= radio_button_tag 'ethnicity', '15' %>
				  		Prefer not to answer
					</label><br><br>
				</div>
				<div class="myinput">
				<center>
					<%= submit_tag "Next" %>
				</center>
				</div>
				</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>