<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Origin</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Are you of Hispanic, Latino or Spanish origin?</p>
				</center>
				<%= form_tag("ethnicity_US", method: "post") do %>
				<fieldset>
				<div class="mybiglistinput">
					<%= radio_button_tag 'ethnicity', '1' %>
					<%= label_tag(:ethnicity, "No, not of Hispanic, latino or Spanish origin") %><br>
					<%= radio_button_tag 'ethnicity', '2' %>
					<%= label_tag(:ethnicity, "Yes, Mexican, Mexican American, or Chicano") %><br>
					<%= radio_button_tag 'ethnicity', '3' %>
					<%= label_tag(:ethnicity, "Yes, Cuban") %><br>
					<%= radio_button_tag 'ethnicity', '4' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Argentina") %><br>
					<%= radio_button_tag 'ethnicity', '5' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Colombia") %><br>
					<%= radio_button_tag 'ethnicity', '6' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Equador") %><br>
					<%= radio_button_tag 'ethnicity', '7' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - El Salvador") %><br>
					<%= radio_button_tag 'ethnicity', '8' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Guatemala") %><br>
					<%= radio_button_tag 'ethnicity', '9' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Nicaragua") %><br>
					<%= radio_button_tag 'ethnicity', '10' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Panama") %><br>
					<%= radio_button_tag 'ethnicity', '11' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Peru") %><br>
					<%= radio_button_tag 'ethnicity', '12' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Spain") %><br>
					<%= radio_button_tag 'ethnicity', '13' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Venezuela") %><br>
					<%= radio_button_tag 'ethnicity', '14' %>
					<%= label_tag(:ethnicity, "Yes, another Hispanic, Latino or Spanish origin - Other") %><br>					
					<%= radio_button_tag 'ethnicity', '15' %>
					<%= label_tag(:ethnicity, "Prefer not to answer") %><br><br>
				</div>
				<div class="myinput">
				<center>
					<%= submit_tag "Next" %>
				</center>
				</div>
				</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>