<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Race</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Which of the following best describes your race?</p>
			</center>
				<%= form_tag("race_US", method: "post") do %>
				<fieldset>
				<div class="mybiglistinput">		
					
					<label>			
					<%= radio_button_tag 'race', '1' %>
				  		White
					</label><br>
					<label>
					<%= radio_button_tag 'race', '2' %>
				  		Black or African American
					</label><br>
					<label>
					<%= radio_button_tag 'race', '3' %>
				  		American Indian or Alaska Native
					</label><br>
					<label>						
					<%= radio_button_tag 'race', '4' %>
				  		Asian - Asian Indian
					</label><br>
					<label>						
					<%= radio_button_tag 'race', '5' %>
				  		Asian - Chinese
					</label><br>
					<label>
					<%= radio_button_tag 'race', '6' %>
				  		Asian - Filipino
					</label><br>
					<label>
					<%= radio_button_tag 'race', '7' %>
				  		Asian - Japanese
					</label><br>
					<label>
					<%= radio_button_tag 'race', '8' %>
				  		Asian - Korean
					</label><br>
					<label>
					<%= radio_button_tag 'race', '9' %>
				  		Asian - Vietnamese
					</label><br>
					<label>						
					<%= radio_button_tag 'race', '10' %>
				  		Asian - Other
					</label><br>
					<label>						
					<%= radio_button_tag 'race', '11' %>
				  		Pacific Islander - Native Hawaiian"
					</label><br>					
					<label>
					<%= radio_button_tag 'race', '12' %>
				  		Pacific Islander - Gaumanian
					</label><br>
					<label>
					<%= radio_button_tag 'race', '13' %>
				  		Pacific Islander - Samoan
					</label><br>
					<label>						
					<%= radio_button_tag 'race', '14' %>
				  		Pacific Islander - Other Pacific Islander
					</label><br>
					<label>						
					<%= radio_button_tag 'race', '15' %>
				  		Some other race
					</label><br>
					<label>						
					<%= radio_button_tag 'race', '16' %>
				  		Prefer not to answer
					</label><br><br>
					
				</div>
				<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
				</div>
			</fieldset>
			<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>