<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Caste</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>What is your caste? Please select one or more choices.</p>
			</center>
				
				<%= form_tag("race_IN", method: "post") do %>
				<fieldset>
				<div class="myethnicityinput">
					<%= check_box_tag 'race[]', 'Brahmin' %>
					<%= label_tag(:race, "Brahmin") %><br>
					<%= check_box_tag 'race[]', 'Scheduled Caste' %>
					<%= label_tag(:race, "Scheduled Caste") %><br>
					<%= check_box_tag 'race[]', 'Other' %>
					<%= label_tag(:race, "Other") %><br>
					<%= check_box_tag 'race[]', 'Prefer not to answer' %>
					<%= label_tag(:race, "Prefer not to answer") %><br><br>	
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
					</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>