<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Race</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Which of the following best describes your race?</p>
			</center>
				<%= form_tag("race_US", method: "post") do %>
				<fieldset>
				<div class="mybiglistinput">
					<%= radio_button_tag 'race', '1' %>
					<%= label_tag(:race, "White") %><br>
					<%= radio_button_tag 'race', '2' %>
					<%= label_tag(:race, "Black or African American") %><br>
					<%= radio_button_tag 'race', '3' %>
					<%= label_tag(:race, "American Indian or Alaska Native") %><br>
					<%= radio_button_tag 'race', '4' %>
					<%= label_tag(:race, "Asian - Asian Indian") %><br>
					<%= radio_button_tag 'race', '5' %>
					<%= label_tag(:race, "Asian - Chinese") %><br>
					<%= radio_button_tag 'race', '6' %>
					<%= label_tag(:race, "Asian - Filipino") %><br>
					<%= radio_button_tag 'race', '7' %>
					<%= label_tag(:race, "Asian - Japanese") %><br>
					<%= radio_button_tag 'race', '8' %>
					<%= label_tag(:race, "Asian - Korean") %><br>
					<%= radio_button_tag 'race', '9' %>
					<%= label_tag(:race, "Asian - Vietnamese") %><br>
					<%= radio_button_tag 'race', '10' %>
					<%= label_tag(:race, "Asian - Other") %><br>
					<%= radio_button_tag 'race', '11' %>
					<%= label_tag(:race, "Pacific Islander - Native Hawaiian") %><br>
					<%= radio_button_tag 'race', '12' %>
					<%= label_tag(:race, "Pacific Islander - Gaumanian") %><br>
					<%= radio_button_tag 'race', '13' %>
					<%= label_tag(:race, "Pacific Islander - Samoan") %><br>
					<%= radio_button_tag 'race', '14' %>
					<%= label_tag(:race, "Pacific Islander - Other Pacific Islander") %><br>
					<%= radio_button_tag 'race', '15' %>
					<%= label_tag(:race, "Some other race") %><br>
					<%= radio_button_tag 'race', '16' %>
					<%= label_tag(:race, "Prefer not to answer") %><br><br>	
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
					</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>