<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Race</h1>
			</center>
		</header>
		
		<div class="content">
			<fieldset>
				<p>What is your race? Please select one or more choices.</p>
				<%= form_tag("race_US", method: "post") do %>
					<%= check_box_tag 'race[]', 'White' %>
					<%= label_tag(:race, "White") %><br>
					<%= check_box_tag 'race[]', 'Black or African American' %>
					<%= label_tag(:race, "Black or African American") %><br>
					<%= check_box_tag 'race[]', 'American Indian or Alaska Native' %>
					<%= label_tag(:race, "American Indian or Alaska Native") %><br>
					<%= check_box_tag 'race[]', 'Other' %>
					<%= label_tag(:race, "Other") %><br>
					<%= check_box_tag 'race[]', 'Choose not to answer' %>
					<%= label_tag(:race, "Choose not to answer") %><br><br>	
					<%= submit_tag "Next" %>
				<% end %>
			</fieldset>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('cooltext1780310221.png') %>
			</center>
		</footer>
	</body>	
</html>