<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Education</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>What is the highest level of education you have completed?</p>
				</center>
				<%= form_tag("education_CA", method: "post") do %>
				<fieldset>
				<div class="mybiglistinput">
					
					<label>
					<%= radio_button_tag 'education', '1' %>
				  		Some high school or less
					</label><br>
					<label>
					<%= radio_button_tag 'education', '2' %>
				  		High school graduate
					</label><br>
					<label>
					<%= radio_button_tag 'education', '3' %>
				  		Other post high school vocational training
					</label><br>
					<label>						
					<%= radio_button_tag 'education', '4' %>
				  		Completed some college, but no degree
					</label><br>
					<label>						
					<%= radio_button_tag 'education', '5' %>
				  		Associates degree
					</label><br>
					<label>
					<%= radio_button_tag 'education', '6' %>
				  		Bachelor's degree
					</label><br>
					<label>
					<%= radio_button_tag 'education', '7' %>
				  		Masters or professional degree
					</label><br>
					<label>
					<%= radio_button_tag 'education', '8' %>
				  		Doctorate degree
					</label><br>				
					<label>
					<%= radio_button_tag 'education', '-3105' %>
				  		None of the above/Prefer not to say
					</label><br><br>
				</div>
					
				<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
				</div>
			</fieldset>
			<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>