<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Education</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>What is the highest level of education you have completed?</p>
				</center>
				<%= form_tag("education_IN", method: "post") do %>
				<fieldset>
				<div class="myethnicityinput">
					<%= radio_button_tag 'education', '1' %>
					<%= label_tag(:education, "Completed some Elementary School (ages 0-14)") %><br>
					<%= radio_button_tag 'education', '2' %>
					<%= label_tag(:education, "Elementary School (ages 0-14)") %><br>
					<%= radio_button_tag 'education', '3' %>
					<%= label_tag(:education, "Completed some Secondary Education (ages 14-18)") %><br>
					<%= radio_button_tag 'education', '4' %>
					<%= label_tag(:education, "Secondary Education graduate (ages 14-18)") %><br>
					<%= radio_button_tag 'education', '5' %>
					<%= label_tag(:education, "Other post high school vocational training") %><br>
					<%= radio_button_tag 'education', '6' %>
					<%= label_tag(:education, "Completed some college") %><br>
					<%= radio_button_tag 'education', '7' %>
					<%= label_tag(:education, "Associate Degree") %><br>
					<%= radio_button_tag 'education', '8' %>
					<%= label_tag(:education, "College Degree") %><br>
					<%= radio_button_tag 'education', '9' %>
					<%= label_tag(:education, "Completed some postgraduate") %><br>	
					<%= radio_button_tag 'education', '10' %>
					<%= label_tag(:education, "Masters degree") %><br>
					<%= radio_button_tag 'education', '11' %>
					<%= label_tag(:education, "Doctorate degree") %><br>
					<%= radio_button_tag 'education', '12' %>
					<%= label_tag(:education, "None of the above") %><br><br>
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
					</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>