<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Education</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>What is the highest degree or level of school you have completed?</p>
				</center>
				<%= form_tag("education_IN", method: "post") do %>
				<fieldset>
				<div class="myethnicityinput">
					<%= check_box_tag 'education', 'Primary school or less' %>
					<%= label_tag(:education, "Primary school or less") %><br>
					<%= check_box_tag 'education', 'Some high school' %>
					<%= label_tag(:education, "Some high school") %><br>
					<%= check_box_tag 'education', 'Graduated high school' %>
					<%= label_tag(:education, "Graduated high school") %><br>
					<%= check_box_tag 'education', 'Some college / Trade School' %>
					<%= label_tag(:education, "Some college / Trade School") %><br>
					<%= check_box_tag 'education', 'Graduated from college / Trade School' %>
					<%= label_tag(:education, "Graduated from college / Trade School") %><br>
					<%= check_box_tag 'education', 'Some university but did not finish' %>
					<%= label_tag(:education, "Some university but did not finish") %><br>	
					<%= check_box_tag 'education', 'University undergraduate degree, such as Bachelors Degree' %>
					<%= label_tag(:education, "University undergraduate degree, such as Bachelors Degree") %><br>
					<%= check_box_tag 'education', 'University graduate degree, such as Masters or PhD' %>
					<%= label_tag(:education, "University graduate degree, such as Masters or PhD") %><br><br>	
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
					</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>