<h1>Education_US</h1>

<p>What is the highest degree or level of school you have completed?</p>
<%= form_tag("education_US", method: "post") do %>
	<%= check_box_tag 'education', 'Grade 4 or less' %>
	<%= label_tag(:education, "Grade 4 or less") %><br>
	<%= check_box_tag 'education', 'Grade 5 to 8' %>
	<%= label_tag(:education, "Grade 5 to 8") %><br>
	<%= check_box_tag 'education', 'Grade 9 to 11' %>
	<%= label_tag(:education, "Grade 9 to 11") %><br>
	<%= check_box_tag 'education', 'Grade 12 (no diploma)' %>
	<%= label_tag(:education, "Grade 12 (no diploma)") %><br>
	<%= check_box_tag 'education', 'Regular High School Diploma' %>
	<%= label_tag(:education, "Regular High School Diploma") %><br>
	<%= check_box_tag 'education', 'GED or alternate credential' %>
	<%= label_tag(:education, "GED or alternate credential") %><br>	
	<%= submit_tag "Next" %>
<% end %>