<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<br>
		
		<div class="header">
			<center>
				<h1>Education</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>What is the highest degree or level of school you have completed?</p>
				</center>
				
				<%= form_tag("education_US", method: "post") do %>
				<fieldset>
				<div class="myethnicityinput">
					<%= radio_button_tag 'education', 'Grade 4 or less' %>
					<%= label_tag(:education, "Grade 4 or less") %><br>
					<%= radio_button_tag 'education', 'Grade 5 to 8' %>
					<%= label_tag(:education, "Grade 5 to 8") %><br>
					<%= radio_button_tag 'education', 'Grade 9 to 11' %>
					<%= label_tag(:education, "Grade 9 to 11") %><br>
					<%= radio_button_tag 'education', 'Grade 12 (no diploma)' %>
					<%= label_tag(:education, "Grade 12 (no diploma)") %><br>
					<%= radio_button_tag 'education', 'Regular High School Diploma' %>
					<%= label_tag(:education, "Regular High School Diploma") %><br>
					<%= radio_button_tag 'education', 'GED or alternate credential' %>
					<%= label_tag(:education, "GED or alternate credential") %><br><br>	
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
					</fieldset>					
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>