<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Household Income</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>What is your current annual household income before taxes?</p>
			</center>
				
				<%= form_tag("householdincome_US", method: "post") do %>
				<fieldset>
				<div class="mybiglistinput">
					
					<label>
					<%= radio_button_tag 'hhi', '1' %>
				  		Less than $14,999
					</label><br>
					<!-- <label>
					<%= radio_button_tag 'hhi', '2' %>
				  		$5,000 to $9,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '3' %>
				  		$10,000 to $14,999
					</label><br> -->
					<label>						
					<%= radio_button_tag 'hhi', '2' %>
				  		$15,000 to $19,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '3' %>
				  		$20,000 to $24,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '4' %>
				  		$25,000 to $29,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '5' %>
				  		$30,000 to $34,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '6' %>
				  		$35,000 to $39,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '7' %>
				  		$40,000 to $44,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '8' %>
				  		$45,000 to $49,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '9' %>
				  		$50,000 to $54,999
					</label><br>					
					<label>
					<%= radio_button_tag 'hhi', '10' %>
				  		$55,000 to $59,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '11' %>
				  		$60,000 to $64,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '12' %>
				  		$65,000 to $69,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '13' %>
				  		$70,000 to $74,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '14' %>
				  		$75,000 to $79,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '15' %>
				  		$80,000 to $84,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '16' %>
				  		$85,000 to $89,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '17' %>
				  		$90,000 to $94,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '18' %>
				  		$95,000 to $99,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '19' %>
				  		$100,000 to $124,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '20' %>
				  		$125,000 to $149,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '21' %>
				  		$150,000 to $174,999
					</label><br>					
					<label>
					<%= radio_button_tag 'hhi', '22' %>
				  		$175,000 to $199,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '23' %>
				  		$200,000 to $249,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '24' %>
				  		$250,000 and above
					</label><br>
				<label>						
					<%= radio_button_tag 'hhi', '-3105' %>
				  		Prefer not to answer
					</label><br><br>	
				</div>
					
				<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
				</div>
			</fieldset>
			<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>