<h1>HHI_IN</h1>

<p>What is your household income:</p>
<%= form_tag("householdincome_IN", method: "post") do %>
	<%= check_box_tag 'hhi', '0-5000' %>
	<%= label_tag(:hhi, "< Rs. 5,000") %><br>
	<%= check_box_tag 'hhi', '5000-9999' %>
	<%= label_tag(:hhi, "Rs. 5,000 - Rs. 9,999") %><br>
	<%= submit_tag "Next" %>
<% end %>