<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Household Income</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Please indicate your household income:</p>
			</center>
				
				<%= form_tag("householdincome_CA", method: "post") do %>
				<fieldset>
				<div class="myethnicityinput">
					<%= radio_button_tag 'hhi', '1' %>
					<%= label_tag(:hhi, "Less than C$15,000") %><br>
					<%= radio_button_tag 'hhi', '2' %>
					<%= label_tag(:hhi, "C$15,000 to C$19,999") %><br>
					<%= radio_button_tag 'hhi', '3' %>
					<%= label_tag(:hhi, "C$20,000 to C$24,999") %><br>
					<%= radio_button_tag 'hhi', '4' %>
					<%= label_tag(:hhi, "C$25,000 to C$29,999") %><br>
					<%= radio_button_tag 'hhi', '5' %>
					<%= label_tag(:hhi, "C$30,000 to C$34,999") %><br>
					<%= radio_button_tag 'hhi', '6' %>
					<%= label_tag(:hhi, "C$35,000 to C$39,999") %><br>
					<%= radio_button_tag 'hhi', '7' %>
					<%= label_tag(:hhi, "C$40,000 to C$44,999") %><br>
					<%= radio_button_tag 'hhi', '8' %>
					<%= label_tag(:hhi, "C$45,000 to C$49,999") %><br>
					<%= radio_button_tag 'hhi', '9' %>
					<%= label_tag(:hhi, "C$50,000 to C$59,999") %><br>
					<%= radio_button_tag 'hhi', '10' %>
					<%= label_tag(:hhi, "C$60,000 to C$74,999") %><br>
					<%= radio_button_tag 'hhi', '11' %>
					<%= label_tag(:hhi, "C$75,000 to C$84,999") %><br>
					<%= radio_button_tag 'hhi', '12' %>
					<%= label_tag(:hhi, "C$85,000 to C$99,999") %><br>
					<%= radio_button_tag 'hhi', '13' %>
					<%= label_tag(:hhi, "C$100,000 to C$124,999") %><br>
					<%= radio_button_tag 'hhi', '14' %>
					<%= label_tag(:hhi, "C$125,000 to C$149,999") %><br>
					<%= radio_button_tag 'hhi', '15' %>
					<%= label_tag(:hhi, "C$150,000 to C$174,999") %><br>
					<%= radio_button_tag 'hhi', '16' %>
					<%= label_tag(:hhi, "C$175,000 to C$199,999") %><br>
					<%= radio_button_tag 'hhi', '17' %>
					<%= label_tag(:hhi, "C$200,000 and above") %><br>
					<%= radio_button_tag 'hhi', '18' %>
					<%= label_tag(:hhi, "Prefer not to answer") %><br><br>
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
					</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>