<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Household Income</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>What is your current weekly household income before taxes?</p>
			</center>
				
				<%= form_tag("householdincome_AU", method: "post") do %>
				<fieldset>
				<div class="mybiglistinput">
								
						<!-- <label>
						<%= radio_button_tag 'hhi', '1' %>
					  		Less than A$15,000
						</label><br>
						<label>
						<%= radio_button_tag 'hhi', '2' %>
					  		A$15,000 to A$19,999
						</label><br>
						<label>
						<%= radio_button_tag 'hhi', '3' %>
					  		A$20,000 to A$24,999
						</label><br>
						<label>						
						<%= radio_button_tag 'hhi', '4' %>
					  		A$25,000 to A$29,999
						</label><br>
						<label>						
						<%= radio_button_tag 'hhi', '5' %>
					  		A$30,000 to A$34,999
						</label><br>
						<label>
						<%= radio_button_tag 'hhi', '6' %>
					  		A$35,000 to A$39,999
						</label><br>
						<label>
						<%= radio_button_tag 'hhi', '7' %>
					  		A$40,000 to A$44,999
						</label><br>
						<label>
						<%= radio_button_tag 'hhi', '8' %>
					  		A$45,000 to A$49,999
						</label><br>
						<label>
						<%= radio_button_tag 'hhi', '9' %>
					  		A$50,000 to A$59,999
						</label><br>
						<label>						
						<%= radio_button_tag 'hhi', '10' %>
					  		A$60,000 to A$74,999
						</label><br>
						<label>						
						<%= radio_button_tag 'hhi', '11' %>
					  		A$75,000 to A$84,999
						</label><br>					
						<label>
						<%= radio_button_tag 'hhi', '12' %>
					  		A$85,000 to A$99,999
						</label><br>
						<label>
						<%= radio_button_tag 'hhi', '13' %>
					  		A$100,000 to A$124,999
						</label><br>
						<label>						
						<%= radio_button_tag 'hhi', '14' %>
					  		A$125,000 to A$149,999
						</label><br>
						<label>
						<%= radio_button_tag 'hhi', '15' %>
					  		A$150,000 to A$174,999
						</label><br>
						<label>						
						<%= radio_button_tag 'hhi', '16' %>
					  		A$175,000 to A$199,999
						</label><br>
						<label>						
						<%= radio_button_tag 'hhi', '17' %>
					  		A$200,000 and above
						</label><br>
						<label>						
						<%= radio_button_tag 'hhi', '18' %>
					  		Prefer not to answer
						</label><br><br>			 -->	


					<label>
					<%= radio_button_tag 'hhi', '1' %>
				  		Less than $250
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '2' %>
				  		$250 - $499
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '3' %>
				  		$500 - $599
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '4' %>
				  		$600 - $699
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '5' %>
				  		$700 - $799
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '6' %>
				  		$800 - $899
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '7' %>
				  		$900 - $999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '8' %>
				  		$1,000 - $1,099
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '9' %>
				  		$1,100 - $1,199
					</label><br>					
					<label>
					<%= radio_button_tag 'hhi', '10' %>
				  		$1,200 - $1,299
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '11' %>
				  		$1,300 - $1,399
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '12' %>
				  		$1,400 - $1,499
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '13' %>
				  		$1,500 - $1,599
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '14' %>
				  		$1,600 - $1,699
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '15' %>
				  		$1,700 - $1,799
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '16' %>
				  		$1,800 - $1,899
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '17' %>
				  		$1,900 - $1,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '18' %>
				  		$2,000 - $2,499
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '19' %>
				  		$2,500 - $2,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '20' %>
				  		$3,000 - $3,499
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '21' %>
				  		$3,500 - $3,999
					</label><br>					
					<label>
					<%= radio_button_tag 'hhi', '22' %>
				  		$4,000 - $4,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '23' %>
				  		$5,000 - $7,499
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '24' %>
				  		$7,500 and above
					</label><br>
				<label>						
					<%= radio_button_tag 'hhi', '-3105' %>
				  		Prefer not to answer
					</label><br><br>


					</div>
					<div class="myinput">
						<center>
							<%= submit_tag "Next" %>
						</center>
					</div>
				</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>