<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Household Income</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Please indicate your household income:</p>
			</center>
				
				<%= form_tag("householdincome_IN", method: "post") do %>
				<fieldset>
				<div class="myethnicityinput">
					<%= radio_button_tag 'hhi', '0-5000' %>
					<%= label_tag(:hhi, "< Rs. 5,000") %><br>
					<%= radio_button_tag 'hhi', '5000-9999' %>
					<%= label_tag(:hhi, "Rs. 5,000 - Rs. 9,999") %><br><br>	
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
					</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>