<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Household Income</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Please indicate your household income:</p>
			</center>
				
				<%= form_tag("householdincome_IN", method: "post") do %>
				<fieldset>
				<div class="mybiglistinput">
					
					<label>
					<%= radio_button_tag 'hhi', '1' %>
				  		Less than ₹300,000
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '2' %>
				  		₹300,000 to ₹399,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '3' %>
				  		₹400,000 to ₹499,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '4' %>
				  		₹500,000 to ₹599,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '5' %>
				  		₹600,000 to ₹699,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '6' %>
				  		₹700,000 to ₹799,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '7' %>
				  		₹800,000 to ₹899,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '8' %>
				  		₹900,000 to ₹999,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '9' %>
				  		₹1 to ₹1.19 million
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '10' %>
				  		₹1.20 to ₹1.49 million
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '11' %>
				  		₹1.5 to ₹1.69 million
					</label><br>					
					<label>
					<%= radio_button_tag 'hhi', '12' %>
				  		₹1.70 to ₹1.99 million
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '13' %>
				  		₹2 to ₹2.49 million
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '14' %>
				  		₹2.50 to ₹2.99 million
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '15' %>
				  		₹3 to ₹3.49 million
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '16' %>
				  		₹3.50 to ₹3.99 million
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '17' %>
				  		₹4 million and above
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '18' %>
				  		Prefer not to answer
					</label><br><br>
				</div>
					<div class="myinput">
						<center>
							<%= submit_tag "Next" %>
						</center>
					</div>
				</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>