<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Household Income</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>How much total combined income do all members of your household earn before taxes?</p>
			</center>
				
				<%= form_tag("householdincome_US", method: "post") do %>
				<fieldset>
				<div class="myethnicityinput">
					<%= radio_button_tag 'hhi', '1' %>
					<%= label_tag(:hhi, "Less than $5,000") %><br>
					<%= radio_button_tag 'hhi', '2' %>
					<%= label_tag(:hhi, "$5,000 to $9,999") %><br>
					<%= radio_button_tag 'hhi', '3' %>
					<%= label_tag(:hhi, "$10,000 to $14,999") %><br>
					<%= radio_button_tag 'hhi', '4' %>
					<%= label_tag(:hhi, "$15,000 to $19,999") %><br>
					<%= radio_button_tag 'hhi', '5' %>
					<%= label_tag(:hhi, "$20,000 to $24,999") %><br>
					<%= radio_button_tag 'hhi', '6' %>
					<%= label_tag(:hhi, "$25,000 to $29,999") %><br>
					<%= radio_button_tag 'hhi', '7' %>
					<%= label_tag(:hhi, "$30,000 to $34,999") %><br>
					<%= radio_button_tag 'hhi', '8' %>
					<%= label_tag(:hhi, "$35,000 to $39,999") %><br>
					<%= radio_button_tag 'hhi', '9' %>
					<%= label_tag(:hhi, "$40,000 to $44,999") %><br>
					<%= radio_button_tag 'hhi', '10' %>
					<%= label_tag(:hhi, "$45,000 to $49,999") %><br>
					<%= radio_button_tag 'hhi', '11' %>
					<%= label_tag(:hhi, "$50,000 to $54,999") %><br>
					<%= radio_button_tag 'hhi', '12' %>
					<%= label_tag(:hhi, "$55,000 to $59,999") %><br>
					<%= radio_button_tag 'hhi', '13' %>
					<%= label_tag(:hhi, "$60,000 to $64,999") %><br>
					<%= radio_button_tag 'hhi', '14' %>
					<%= label_tag(:hhi, "$65,000 to $69,999") %><br>
					<%= radio_button_tag 'hhi', '15' %>
					<%= label_tag(:hhi, "$70,000 to $74,999") %><br>
					<%= radio_button_tag 'hhi', '16' %>
					<%= label_tag(:hhi, "$75,000 to $79,999") %><br>
					<%= radio_button_tag 'hhi', '17' %>
					<%= label_tag(:hhi, "$80,000 to $84,999") %><br>
					<%= radio_button_tag 'hhi', '18' %>
					<%= label_tag(:hhi, "$85,000 to $89,999") %><br>
					<%= radio_button_tag 'hhi', '19' %>
					<%= label_tag(:hhi, "$90,000 to $94,999") %><br>
					<%= radio_button_tag 'hhi', '20' %>
					<%= label_tag(:hhi, "$95,000 to $99,999") %><br>
					<%= radio_button_tag 'hhi', '21' %>
					<%= label_tag(:hhi, "$100,000 to $124,999") %><br>
					<%= radio_button_tag 'hhi', '22' %>
					<%= label_tag(:hhi, "$125,000 to $149,999") %><br>
					<%= radio_button_tag 'hhi', '23' %>
					<%= label_tag(:hhi, "$150,000 to $174,999") %><br>
					<%= radio_button_tag 'hhi', '24' %>
					<%= label_tag(:hhi, "$175,000 to $199,999") %><br>
					<%= radio_button_tag 'hhi', '25' %>
					<%= label_tag(:hhi, "$200,000 to $249,999") %><br>
					<%= radio_button_tag 'hhi', '26' %>
					<%= label_tag(:hhi, "$250,000 and above") %><br>
					<%= radio_button_tag 'hhi', '27' %>
					<%= label_tag(:hhi, "Prefer not to answer") %><br><br>	
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
					</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>