<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Household Income</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Please indicate your household income:</p>
			</center>
				
				<%= form_tag("householdincome_CA", method: "post") do %>
				<fieldset>
				<div class="mybiglistinput">
					<label>
					<%= radio_button_tag 'hhi', '1' %>
				  		Less than C$15,000
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '2' %>
				  		C$15,000 to C$19,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '3' %>
				  		C$20,000 to C$24,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '4' %>
				  		C$25,000 to C$29,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '5' %>
				  		C$30,000 to C$34,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '6' %>
				  		C$35,000 to C$39,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '7' %>
				  		C$40,000 to C$44,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '8' %>
				  		C$45,000 to C$49,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '9' %>
				  		C$50,000 to C$59,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '10' %>
				  		C$60,000 to C$74,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '11' %>
				  		C$75,000 to C$84,999
					</label><br>					
					<label>
					<%= radio_button_tag 'hhi', '12' %>
				  		C$85,000 to C$99,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '13' %>
				  		C$100,000 to C$124,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '14' %>
				  		C$125,000 to C$149,999
					</label><br>
					<label>
					<%= radio_button_tag 'hhi', '15' %>
				  		C$150,000 to C$174,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '16' %>
				  		C$175,000 to C$199,999
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '17' %>
				  		C$200,000 and above
					</label><br>
					<label>						
					<%= radio_button_tag 'hhi', '18' %>
				  		Prefer not to answer
					</label><br><br>	
					</div>
					<div class="myinput">
						<center>
							<%= submit_tag "Next" %>
						</center>
					</div>
				</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>