<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Household Composition</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>How many people are living or staying at your current address?</p>
			</center>
				<%= form_tag("householdcomp", method: "post") do %>
				<fieldset>
					<div class="myethnicityinput">
					<%= radio_button_tag 'householdcomp', '1' %>
					<%= label_tag(:householdcomp, "1 person") %><br>
					<%= radio_button_tag 'householdcomp', '2' %>
					<%= label_tag(:householdcomp, "2 persons") %><br>
					<%= radio_button_tag 'householdcomp', '3' %>
					<%= label_tag(:householdcomp, "3 persons") %><br>
					<%= radio_button_tag 'householdcomp', '4' %>
					<%= label_tag(:householdcomp, "4 persons") %><br>
					<%= radio_button_tag 'householdcomp', '5' %>
					<%= label_tag(:householdcomp, "5 persons") %><br>
					<%= radio_button_tag 'householdcomp', '6' %>
					<%= label_tag(:householdcomp, "More than 5 persons") %><br>
					<%= radio_button_tag 'householdcomp', '7' %>
					<%= label_tag(:householdcomp, "Prefer not to answer") %><br><br>
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
				</fieldset>
				<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>