<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Quick Question</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Would you be willing to share your Name and Address for a survey?</p>
			</center>
			<%= form_tag("Scrnr1Action", method: "post") do %>
				<fieldset>
					<div class="mytags">
						<label>
							<%= radio_button_tag 'Scrnr1Resp', '1' %>
						  	Yes
						</label><br>
						<label>
							<%= radio_button_tag 'Scrnr1Resp', '2' %>
						  	No
						</label><br><br>
					</div>

					<div class="myinput">
						<center>
							<%= submit_tag "Next" %>
						</center>
					</div>
				</fieldset>
			<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>