<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">		
		<div class="header">
			<center>
				<h1>Quick Question</h1>
			</center>
		</header>
		
		<div class="content">
			<center><h2>
				<% session_id = session.id %>
				<% print "session_id in Scrn1.html is : ", session_id %>
				<% puts %>
	    		<%user = User.find_by session_id: session_id %>
	    		<% print "user is: ", user %>
	    		<% puts %>
	    		<% print "user SurveysAttempted is: ", user.SurveysAttempted %>
	    		<% puts %>
				<% Adhoc.where("SurveyNumber = ?", user.SurveysAttempted[-1]).each do |c| %>
			    	<p>
			       		<%= link_to c.Screener1.to_s  -%>
			    	</p>
		    	<% end %>
			</h2></center>
			<%= form_tag("Scrnr1Action", method: "post") do %>
				<fieldset>
					<div class="mytags">
						<label>
							<%= radio_button_tag 'Scrnr1Resp', '1' %>
						  	Yes
						</label><br>
						<label>
							<%= radio_button_tag 'Scrnr1Resp', '2' %>
						  	No
						</label><br><br>
					</div>

					<div class="myinput">
						<center>
							<%= submit_tag "Next" %>
						</center>
					</div>
				</fieldset>
			<% end %>
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>