<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<%= javascript_include_tag "rfg-fp" %>
	</head>

	<body class="body">
		
		<script type="text/javascript">
			var fingerprint = new Fingerprint({canvas: true, ie_activex: true, screen_resolution: true}).get();
		//	document.write(fingerprint);
			
			$.ajax({
			  type    : 'POST',
			  url     : "/users/capturefp", 
			  data    : { fingerprint },
			  success : function(data) { },
			});
			
		</script>
		
		
		
		<div class="header">
			<center>
				<h1>Terms of Service</h1>
			</center>
		</header>
		
		<div id="content">
			<center>
				<p>I am above 13 years old. I have read and agree to Ketsci, Inc.'s <%= link_to "PrivacyPolicy", '/users/PrivacyPolicy' %></p>
				<br><br>
				<%= form_tag("sign_tos", method: "post") do %>
				<div class="agree">
					<%= submit_tag "I Agree" %>
				</div>
				<% end %>
			</center>				
		</content>
		<br>
		<br>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>