<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Colors</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<p>Please choose green from the options below:</p>
			</center>
				<%= form_tag("trap_question_1", method: "post") do %>
				<fieldset>
					<div class="mytags">
					<%= check_box_tag 'color', 'Red' %>
					<%= label_tag(:color, "Red") %><br>
					<%= check_box_tag 'color', 'Green' %>
					<%= label_tag(:color, "Green") %><br>
					<%= check_box_tag 'color', 'Purple' %>
					<%= label_tag(:color, "Purple") %><br>
					<%= check_box_tag 'color', 'Blue' %>
					<%= label_tag(:color, "Blue") %><br><br>
					</div>
					<div class="myinput">
					<center>
					<%= submit_tag "Next" %>
					</center>
					</div>
				</fieldset>
				<% end %>
			
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogo.png') %>
			</center>
		</footer>
	</body>	
</html>