<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Users HTML5 theme</title>
		<meta charset="utf-8" />	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="body">
		<div class="header">
			<center>
				<h1>Colors</h1>
			</center>
		</header>
		
		<div class="content">
			<center>
				<div id="p1"><h3><%= alert %></h3></div>
				<p>For quality assurance, please choose green from the options below:</p>
			</center>
				<%= form_tag("trap_question_1", method: "post") do %>
				<fieldset>
					<div class="mytags">
				
					<label>
					<%= radio_button_tag 'color', 'Red' %>
				  		Red
					</label><br>
					<label>
					<%= radio_button_tag 'color', 'Green' %>
				  		Green
					</label><br>
					<label>
					<%= radio_button_tag 'color', 'Purple' %>
				  		Purple
					</label><br>
					<label>						
					<%= radio_button_tag 'color', 'Blue' %>
				  		Blue
					</label><br><br>
				</div>
					<div class="myinput">
						<center>
							<%= submit_tag "Next" %>
						</center>
					</div>
			</fieldset>
			<% end %>
			
		</content>
				
		<footer class="footer">
			<center>
				<%= image_tag image_path('KetsciLogoSm.png') %>
			</center>
		</footer>
	</body>	
</html>