<!DOCTYPE html>
<html lang="en">

<head>
	<title>Marketing page</title>
	<meta charset="utf-8" />	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class ="body">
<!---
 <div class="header">
    <div class="container">
			<center><%= image_tag image_path('Trends.jpg') %></center>
   	</div> 
 </div>
	
-->
	
 <div class="hero">
	 <div class="container">
		<center>
			<h1>TRENDS</h1><br>
			<p>We are building innovative technologies and solutions for programmatic content delivery to mobile users.<p>
		</center>
	</div>
 </div>

 <div class="contact">
    <div class="container">
		<center><h1> We love to talk!</h1></center><br>
		<div id="form_hdr">Contact Us</div><br>
			<%= form_for @lead do |f| %>
				<fieldset>
					<%= f.text_field :name, placeholder: "Name", :class => "input" %><br><br>
					<%= f.text_field :email, placeholder: "Email", :class => "input" %><br><br>
					<%= f.text_field :email, placeholder: "Phone Number", :class => "input" %><br><br>
					<%= f.text_area :message, placeholder: "Your message", :class => "textarea" %><br><br>
					<%= f.submit "Send", :class => "button" %>
				</fieldset>
			<% end %>
   	</div>
 </div>

</body>