<!DOCTYPE html>
<html lang="en">

<head>
	<title>Marketing home page</title>
	<meta charset="utf-8" />	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("e5606382b5fdf6308a1aa86a678d6674");</script><!-- end Mixpanel -->

</head>


<body class ="bodyhome">	

 
 <div id="header">
	 <div id="container1">
		 <%= image_tag image_path('KetsciLogo.png') %>
	</div>
 </div>

 <div id="hero">
	 <div id="container2">
		<center>
			<h1>Market insights from across the globe.</h1>
		</center>
 	</div>
 </div>
 
 <div id="aboutus">
		 <h1><center> About Us </center></h1>
			 <p2> Ketsci, Inc. is a technology company in the market research industry. Ketsci works with clients on market research and user data collection projects. We offer programmatic access to hard to reach speciality audiences in many parts of the world. We are different and more efficient than most sampling companies because we exclusively use a programmatic approach to market research projects - a methodology that began to be practiced in our industry only a few years ago.</p2>
			 <p></p>
			 <p2> We have developed our technology in-house from the ground up to flexibly interface with our client's systems. Our technology enables us to closely control the performance and quality of execution of every project that we work on. Contact us to discuss your programmatic market research and user data collection projects.</p2>
 </div>

 <div id="contact">
    <div id="container3">
		<center><h1>Contact us. We look forward to hearing from you!</h1>
			<div id="p1"><h3><%= alert %></h3></div><br>
			<%= form_for @lead do |f| %>	
					<%= f.text_field :name, placeholder: "Name", :class => "input" %><br><br>
					<%= f.text_field :email, placeholder: "Email", :class => "input" %><br><br>
					<%= f.text_field :phone, placeholder: "Phone", :class => "input" %><br><br>
					<%= f.text_area :message, placeholder: "Message", :class => "textarea" %><br><br>
					<%= f.submit "Send", :class => "button" %>				
			<% end %>
		</center>
   	</div>
 </div> 

 <div id="footer">
    <div id="container4">
		<div id="left_col">
			<!-- %= image_tag image_path('images.jpeg') % -->
			<p align="left" id="smallfont">Copyright © by Ketsci, Inc. All rights reserved.
			<!-- a href="privacy_policy_11032014.pdf">Privacy Policy.</a -->
			<!-- a href="terms_and_conditions_11032014.pdf">Terms and Conditions.</a -->
			</p>
		</div>
		<div id="right_col">
			<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=RB6PmkV40C36wW0v29AgjdNZRIIKSgGjK0x59o2FkYtHxPwkG4jyVmyayLAr"></script></span>		
			<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
		</div>
	</div>		
 </div>

</body>

</html>