<!DOCTYPE html>
<html lang="en">

<head>
	<title>Marketing home page</title>
	<meta charset="utf-8" />	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("e5606382b5fdf6308a1aa86a678d6674");</script><!-- end Mixpanel -->

</head>


<body class ="bodyhome">
 
 <div id="header">
	 <div id="container1">
	 	<p5><center>KETSCI</center></p5>
 	</div>
 </div>

 <div id="hero">
	 <div id="container2">
		<center>
			<p4>Market insights from around the globe.</p4>
		</center>
 	</div>
 </div>
 
 <div id="aboutus">
	<h1><center></center></h1>
	 <p></p>
	<center>
		<p2> 
			KETSCI is a market research technology company. Our products increase automation, speed, and efficiency of market research. We provide access to high quality audiences for Researchers. Mobile and web developers integrate our API to monetize and reward their users everytime they complete a survey.
	 	</p2>
	</center>
 </div>

 <div id="user">
	<h1><center> Take Surveys </center></h1>
	 <p2>
		<center>Make your opinions count!</center>
		</br>
		<div id="left_col_user">	
			<center>
				For every survey you complete using the Donate link, KETSCI will contribute 50 cents to a charity to benefit needy children.
				<p></p>
				<input type="submit" class='panelbutton' value="Donate" onclick="window.location.href='/users/newCharity'">
				<p></p>
			</center>
		</div>

		<div id="right_col_user">	
			<center>
				Sign-up to join the KETSCI Panel. We will notify you when new surveys with an opportunity to earn rewards are available.
				<p></p>
				<!-- <input type="submit" class='panelbutton' value="Panel Sign-Up" onclick="window.location.href='mailto:projectsmanagement@ketsci.com?subject=KETSCI Panel sign-up&body=I authorize KETSCI, Inc. to use this email address to send me future notifications to complete surveys.'"> -->
				<input type="submit" class='panelbutton' value="Panel Sign-Up" onclick="window.location.href='/leads/panelSignUp'">
				<p></p>
			</center>
		</div>
	 </p2>
 </div>

 <div id="monetize">
		 <h1><center> Monetize </center></h1>
			<center><p2> Earn additional revenue from users who visit your website or use your app. We are extremely flexible in the ways to integrate our offer on any platform e.g. iOS, ANDROID, Win, Web, etc. You will always be in full control of how and where your users interact and complete KETSCI surveys. It takes only a few minutes to integrate our API in your code. 
			<p></p>
			<a href="mailto:projectsmanagement@ketsci.com"> Contact</a> us to start earning within a day or two.
			<p></p>	 
			 </p2></center>
 </div>

<div id="research">
		 <h1><center> Researchers </center></h1>
			 <center><p2> We will get quick responses from your target audience. KETSCI reaches millions of users through a wide network of mobile and web apps. Currently we operate in the US, Canada and Australia. We ensure the highest sample quality by using modern technical solutions and perform a number of checks before allowing a user to take a survey. See our <a href="/KETSCI_PanelFacts.pdf">Panel Facts Sheet</a> to learn about our high quality and diverse community of panelists.
				 <p></p>
			<a href="mailto:projectsmanagement@ketsci.com"> Contact</a> us to partner in your research project.
			<p></p>
			 </p2></center>
 </div> 
 
 <div id="contact">
    <div id="container3">
    	<center><h1>Contact Us!</h1>
			<div id="alert"><%= alert %></div><br>
				<%= form_for @lead do |f| %>	
					<%= f.text_field :name, placeholder: "Name", :class => "input" %><br><br>
					<%= f.text_field :email, placeholder: "Email", :class => "input" %><br><br>
					<%= f.text_field :phone, placeholder: "Phone [Optional]", :class => "input" %><br><br>
					<%= f.text_area :message, placeholder: "Message", :class => "textarea" %><br><br>
					<%= f.submit "Send", :class => "button" %>				
				<% end %>
		</center>
   	</div>
 </div> 

 <div id="footer">
 	<div id="left_col_footer">
 		<center>
			<!-- %= image_tag image_path('images.jpeg') % -->
			<p3> ©2017 KETSCI Inc 2017 -
			<!--a href="/privacy_policy_11032014.pdf">Privacy Policy.</a -->
			<a href="/users/PrivacyPolicy">Privacy Policy</a></p3>
			<!--a href="/users/tos">Terms and Conditions.</a -->
			<!--a href="/terms_and_conditions_11032014.pdf">Terms and Conditions.</a -->
		</center>
 	</div>

    <div id="right_col_footer">
			<center><p3>
				<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
				<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=RB6PmkV40C36wW0v29AgjdNZRIIKSgGjK0x59o2FkYtHxPwkG4jyVmyayLAr"></script></span></p3>
			</center>			
	</div>

	<!-- <center> -->
		 <!---%= image_tag image_path('KetsciLogo.png') %>
	<!-- </center> -->

 </div>

</body>

</html>