<!DOCTYPE html>
<html lang="en">

<head>
	<title>Marketing home page</title>
	<meta charset="utf-8" />	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("95430046f55378f737b213d9816afab3");</script><!-- end Mixpanel -->
</head>


<body class ="body">	

 <script type="text/javascript">
			mixpanel.track("Landed on Home Page");
 </script>
 
 
 <div id="header">
	 <div id="container1">
		 <%= image_tag image_path('cooltext1784832111.png') %>
	</div>
 </div>

 <div id="hero">
	 <div id="container2">
		<center>
			<p id="bigfont">Our new website is launching soon. Stay tuned.<p>
		</center>
 	</div>
 </div>

 <div id="contact">
    <div id="container3">
		<center><p>Meanwhile, to connect with us drop us a note.</p>
			<div id="p1"><%= alert %></h2></div><br>
			<%= form_for @lead do |f| %>	
					<%= f.text_field :name, placeholder: "Name", :class => "input" %><br><br>
					<%= f.text_field :email, placeholder: "Email", :class => "input" %><br><br>
					<%= f.text_field :phone, placeholder: "Phone", :class => "input" %><br><br>
					<%= f.text_area :message, placeholder: "Message", :class => "textarea" %><br><br>
					<%= f.submit "Send", :class => "button" %>				
			<% end %>
		</center>
   	</div>
 </div>
 
 <script type="text/javascript">
	 	mixpanel.track_forms('entered name', {
	 		name: <%= @lead.name.to_json %>
	 	});
 </script>
 

 <div id="footer">
    <div id="container4">
		<!-- %= image_tag image_path('images.jpeg') % -->
		<p align="center" id="smallfont">Copyright © by Ketsci. All rights reserved.
		<!-- a href="privacy_policy_11032014.pdf">Privacy Policy.</a -->
		<!-- a href="terms_and_conditions_11032014.pdf">Terms and Conditions.</a -->
		</p>
	</div>
 </div>

</body>

</html>