<!DOCTYPE html>
<html lang="en">

<head>
	<title>Marketing home page</title>
	<meta charset="utf-8" />	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- start Mixpanel -->
		<script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" "); for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]); mixpanel.init("e5606382b5fdf6308a1aa86a678d6674");</script>
	<!-- end Mixpanel -->
</head>

<body class ="bodyhome">
 	<div id="header">
	 <div id="container1">
	 	<p5><center>KETSCI</center></p5>
 	</div>
 </div>

 <div id="hero">
	 <div id="container2">
		<center>
			<p4>Market insights from around the globe.</p4>
		</center>
 	</div>
 </div>
 
 <div id="aboutus">
 	<br>
	<h1><center> About Us </center></h1>
	 <p></p>
		<p2> 
			Founded in 2014, KETSCI is a market research technology company based in Palo Alto, California. We provide access to high quality audiences for researchers. Businesses, organizations and individuals use our products to get answers to their questions from target audiences. Our promise is to increase automation, speed, and efficiency of market research by leveraging cutting edge technology. Mobile and web applications integrate our APIs for research, analytics, monetization, and also to reward users when they respond to questions by completing a survey.
	 	</p2>
 </div>

 <div id="research">
	 <h1><center> Ask Questions from Target Audience </center></h1>
	 <p2><center> (For Researchers) </center></p2>

	 	<p2><b>Own Audience Surveys</b></p2><br>
				<p2>
					Be plugged in to your users voice continuously.
					<ul>
						<li> Find out demographic profile of your users e.g. age, gender, zipcode/postalcode, household income, etc.</li>
						<br>
						<li> Ask questions about their experiences e.g. with your products and services on your website or in app. You may ask e.g. Where can we improve?, Would you recommend us to others? or any other questions e.g. how often do you order delivery food?, etc. </li>
						<br>
						<li>The answers are available on your fingertips in real time on a dashboard. Simply view or doawnload as a csv file.</li>
						<br>
						<li>Best of all, the basic features of this product are free. </li>
					</ul>
					To get started contact us by <a href="mailto:projectsmanagement@ketsci.com"> email</a> or use the form below.
				</p2>
		<br>
		<p></p>
		<p2><b>General Target Audience Surveys</b></p2><br>
			<!-- <center> -->
				<p2> 
					KETSCI reaches millions of users through a wide network of mobile and web apps. As a result, we get answers to questions quickly from target audiences. Currently we operate in USA, Canada and Australia. We ensure the highest sample quality by using modern technical solutions and perform a number of validation checks before allowing a user to take a survey. We have the capability to link directly to your existing online survey as well as to create and host a survey. We operate by using state-of-the-art security protocols to ensure data integrity at all times. Researchers can find out about feasibility of the project before starting. See our <a href="/KETSCI_PanelFacts.pdf">Panel Facts Sheet</a> to learn more about our high quality and diverse community of panelists. Contact us by <a href="mailto:projectsmanagement@ketsci.com"> email</a> or use the form below to partner with the KETSCI research network for your research projects.
				</p2>
	<br>
	<br>
</div>

 <div id="monetize">
 		<br>
 		<br>
		 <h1><center> Monetize your Apps and Website </center></h1>
		  <p2><center> (For Publishers) </center></p2>
			<!-- <center> -->
				<p2><b>KETSCI Ads</b></p2><br>
					<p2> 
						Any publisher of a Website or an App can become part of the KETSCI research network by showing KETSCI Offers Advertisements. Add a link to our inventory of surveys to earn additional revenue from users who visit your website or use your app. It is extremely easy to integrate our offers on any platform e.g. iOS, Android, Win, Web, etc. You will always be in full control of how and where your users interact and complete KETSCI surveys. A Publisher membership comes with your own Dashboard where you can monitor user completes in realtime and download activity reports. 

						<br>
						<br>
						<center>
							<%= image_tag image_path('KetsciPublisherDashboard.png') %>
						</center>
						<br>

						<p>It takes only a few minutes to integrate our API in your code. Contact us by <a href="mailto:projectsmanagement@ketsci.com"> email</a> or use the form below to become a publishing member of the KETSCI research network and start earning.</p>	 

					</p2>
			<!-- </center> -->
 </div>

<div id="user">
	<h1><center> Take Surveys </center></h1>
	 <p2>
		<center>(For Users: Make your opinions count!)
			<br>
			<p>Sign in here to access your existing account. View your dashboard and take new surveys.</p>
			<p></p>
				<input type="submit" class='panelbutton' value="Sign in" onclick="window.location.href='/panel/login'">
			<p></p>
		</center>
		</br>
		<div id="left_col_user">	
			<center>
				Join the KETSCI Panel. We pay within a week of your reaching 5 Points! We will notify you when new surveys with an opportunity to earn rewards are available.
				<p></p>
				<!-- <input type="submit" class='panelbutton' value="Panel Sign-Up" onclick="window.location.href='mailto:projectsmanagement@ketsci.com?subject=KETSCI Panel sign-up&body=I authorize KETSCI, Inc. to use this email address to send me future notifications to complete surveys.'"> -->
				<input type="submit" class='panelbutton' value="Sign up" onclick="window.location.href='/leads/panelSignUp'">
				<p></p>
			</center>
		</div>
		<div id="right_col_user">	
			<center>
				For every survey you complete using the Donate link, KETSCI will contribute 50 cents to a charity to benefit needy children.
				<p></p>
				<br>
				<input type="submit" class='panelbutton' value="Donate" onclick="window.location.href='/users/newCharity'">
			</center>
		</div>
	 </p2>
 </div>


<div id="jobs">
		 <h1><center> Jobs </center></h1>
				<p2><b>Partnerships & Business Development Internships (Palo Alto,CA)</b></p2><br>
					<p2> 
						KETSCI is expanding its business through partnerships with Publishers and Market Research companies. As a Partnership & Business Development intern you will be responsible to initiate and close partnership deals. You will gain experience in building B2B relationships, marketing & sales, team work, and be an integral part of scaling a technology business. This is a perfect opportunity for a fresh graduate or an experienced professional who is good with communication skills and has an interest in internet technology businesses. Compensation for the internship will be commenserate with target achievements. Prior experience with marketing, adtech or market research industry is a plus but not required. Local presence in Silicon Valley bay area is preferred but also not required. Apply by sending your resume by <a href="mailto:projectsmanagement@ketsci.com"> email</a> to embark on this challenging opportunity.
						<p></p>
						<b></b>
						<p></p>	 
					</p2>
</div>

 
 <div id="contact">
    <div id="container3">
    	<center><h1>Contact Us</h1>
			<div id="alert"><%= alert %></div><br>
				<%= form_for @lead do |f| %>	
					<%= f.text_field :name, placeholder: "Name", :class => "input" %><br><br>
					<%= f.text_field :email, placeholder: "Email", :class => "input" %><br><br>
					<%= f.text_area :message, placeholder: "Message (please include a phone number, if you prefer us to reach you by voice or text message.)", :class => "textarea" %><br><br>
					<!-- <%= f.text_field :phone, placeholder: "For Publishers Only: Do you have own way to reward users? Yes or No", :class => "input" %><br><br> -->
					<%= f.submit "Send", :class => "button" %>				
				<% end %>
		</center>
   	</div>
 </div> 

 <div id="footer">
 	<p2><center>Respondents <a href="mailto:projectsmanagement@ketsci.com"> Opt out </a></center></p2>
 	<br>
 	<br>
 	<div id="left_col_footer">
 		<center>
			<!-- %= image_tag image_path('images.jpeg') % -->
			<p3> ©2019 KETSCI Inc -
			<!--a href="/privacy_policy_11032014.pdf">Privacy Policy.</a -->
			<a href="/users/PrivacyPolicy">Privacy Policy</a>
			</p3>
			<!--a href="/users/tos">Terms and Conditions.</a -->
			<!--a href="/terms_and_conditions_11032014.pdf">Terms and Conditions.</a -->
		</center>
 	</div>

    <div id="right_col_footer">
			<center><p3>
				<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
				<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=RB6PmkV40C36wW0v29AgjdNZRIIKSgGjK0x59o2FkYtHxPwkG4jyVmyayLAr"></script></span></p3>
			</center>			
	</div>

	<!-- <center> -->
		 <!---%= image_tag image_path('KetsciLogo.png') %>
	<!-- </center> -->

 </div>

</body>

</html>